{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block indexClass %}{% endblock %}
{% block servicesClass %}{% endblock %}
{% block blogClass %}class="active"{% endblock %}
{% block portfolioClass %}{% endblock %}
{% block contactClass %}{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="blogs">
					<div class="text-center">
						<h2>Blog</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu<br>
							vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam
							<br>
						</p>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>

{# M'he quedat ací #}
    {% include "blog/single_post.html.twig" with {''} %}


{% endblock %}
